@using Business.ViewModels.Contact
@model ContactIndexVM

<table class="table table-hover">
<tbody>
    @foreach (var message in Model.ContactMessages)
    {
        <tr>
           <td>@message.Name</td>
           <td>@(message.Message.Length < 80 ? message.Message : message.Message.Substring(0, 80))...</td>
           <td>
               @message.CreatedAt.ToString("dd:MM:yyyy HH:mm")
           </td>
           <td class="text-center d-flex justify-content-center gap-4">
                <a asp-action="Details" asp-controller="Contact" asp-route-id="@message.Id" class="btn btn-primary">Read</a>
                    <form method="post" asp-controller="Contact" asp-action="MakeSeen" asp-route-id="@message.Id">
                        <button type="submit" style="border: none; background: none; font-size: 20px;">
                                @if (message.IsSeen)
                                {
                                    <i class="fa-solid fa-check-double" style="color: #04ff00;"></i>
                                }
                                else
                                {
                                    <i class="fa-solid fa-check-double" style="color: #949494;"></i>
                                }
                        </button>
                    </form>
                    <form method="post" asp-controller="Contact" asp-action="Delete" asp-route-id="@message.Id">
                        <button type="submit" style="border: none; background: none; font-size: 20px;">
                            <i class="fa-solid fa-trash" style="color: #ff0000;"></i>
                        </button>
                    </form>
           </td>
        </tr>
    }
    </tbody>
</table>
