@using Business.ViewModels.Category
@model CategoryIndexVM

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Product Categories</h1>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Category">Create</a>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Created At</th>
            <th scope="col">Modified At</th>
            <th scope="col" class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.CreatedAt.ToString("dd:MM:yyyy HH:mm")</td>
                <td>@category.ModifiedAt</td>
                <td class="text-center d-flex justify-content-center">
                    <a class="btn btn-success mx-2" asp-controller="Category" asp-action="Update" asp-route-id="@category.Id">Update</a>
                    <form method="post" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>