@using Business.ViewModels.News
@model NewsDetailsVM

<div class="mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="single-article-section">
					<div class="single-article-text">
						<div class="single-artcile-bg" style="background-image: url('@Url.Content("~/assets/img/" + Model.Photo)')"></div>
						<p class="blog-meta">
							<span class="author"><i class="fas fa-user"></i> Admin</span>
							<span class="date"><i class="fas fa-calendar"></i> @Model.CreatedAt.ToString("MMM dd, yyyy")</span>
						</p>
						<h2>@Model.Title</h2>
						<p>@Model.Body</p>
					</div>

					<div class="comments-list-wrap">
						<h3 class="comment-count-title">3 Comments</h3>
						<div class="comment-list">
							@foreach (var comment in Model.Comments)
							{
								<div class="single-comment-body">
									<div class="comment-text-body">
										<h4>@comment.Name <span class="comment-date">@comment.CreatedAt.ToString("MMM dd, yyyy")</span> <a href="#">reply</a></h4>
										<div>
											@comment.Message
										</div>
									</div>
								</div>
							}
						</div>
					</div>

					<div class="comment-template">
						<h4>Leave a comment</h4>
						<p>If you have a comment dont feel hesitate to send us your opinion.</p>
						<form method="post">
							<input id="newsId" type="hidden" value="@Model.NewsId" />
							<p>
								<input id="commentName" type="text" placeholder="Your Name">
								<input id="commentEmail" type="email" placeholder="Your Email">
							</p>
							<p><textarea name="comment" id="comment" cols="30" rows="10" placeholder="Your Message"></textarea></p>
							<p><input id="addComment" type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="sidebar-section">
					<div class="recent-posts">
						<h4>Recent Posts</h4>
						<ul>
							<li><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></li>
							<li><a href="single-news.html">A man's worth has its season, like tomato.</a></li>
							<li><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></li>
							<li><a href="single-news.html">Fall in love with the fresh orange</a></li>
							<li><a href="single-news.html">Why the berries always look delecious</a></li>
						</ul>
					</div>
					<div class="archive-posts">
						<h4>Archive Posts</h4>
						<ul>
							<li><a href="single-news.html">JAN 2019 (5)</a></li>
							<li><a href="single-news.html">FEB 2019 (3)</a></li>
							<li><a href="single-news.html">MAY 2019 (4)</a></li>
							<li><a href="single-news.html">SEP 2019 (4)</a></li>
							<li><a href="single-news.html">DEC 2019 (3)</a></li>
						</ul>
					</div>
					<div class="tag-section">
						<h4>Tags</h4>
						<ul>
							<li><a href="single-news.html">Apple</a></li>
							<li><a href="single-news.html">Strawberry</a></li>
							<li><a href="single-news.html">BErry</a></li>
							<li><a href="single-news.html">Orange</a></li>
							<li><a href="single-news.html">Lemon</a></li>
							<li><a href="single-news.html">Banana</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section CommentScripts {
	<script src="~/assets/js/comment.js"></script>
}